<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand"
       style="cursor: pointer"
       [routerLink]="'/'">Dating App</a>

    <ul class="navbar-nav mr-auto"
        *ngIf="accountService.currentUserSource | async">
      <li class="nav-item">
        <a class="nav-link"
           style="cursor: pointer"
           [routerLink]="'/members'"
           [routerLinkActive]="'active'">Matches </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           style="cursor: pointer"
           [routerLink]="'/lists'"
           [routerLinkActive]="'active'">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           style="cursor: pointer"
           [routerLink]="'/messages'"
           [routerLinkActive]="'active'">Messages</a>
      </li>
    </ul>

    <div class="dropdown"
         *ngIf="accountService.currentUserSource | async"
         dropdown
         style="cursor: pointer">
         <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light ml-3"
         dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu"
           *dropdownMenu>
        <a routerLink="/member/edit"
           class="dropdown-item">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"
           (click)="logout()">Logout</a>
      </div>
    </div>

    <form #loginForm="ngForm"
          (ngSubmit)="login(loginForm)"
          class="form-inline mt-2 mt-md-0"
          autocomplete="off"
          *ngIf="(accountService.currentUserSource | async) === null">
      <input class="form-control mr-sm-2"
             type="text"
             placeholder="Username"
             ngModel="david"
             name="username" />
      <input class="form-control mr-sm-2"
             type="password"
             placeholder="Password"
             ngModel="password"
             name="password" />
      <button class="btn btn-success my-2 my-sm-0"
              type="submit">
        Login
      </button>
    </form>
  </div>
</nav>